:root {
  --color-red-light: #E63946;
  --color-blue-dark: #1D3557;
  --color-blue-light: #A8DADC;
  --color-light: #F1FAEE;
  --color-green-blue: #457B9D;

  /* Videos */
  --color-video-title: #E1E6E1;
  --color-video-1: #E9190F;
  --color-video-2: #F2362C;
  --color-video-3: #E63B2E;
  --color-video-4: #E15634;
  --color-video-5: #F85A3E;


  /* Error */
  --color-error: #91121D;
}
